<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/340fbf74-1950-428c-a1f4-6af54b7af953/resourceGroups/APIStreamingUTHG1DataAccess20230801222911ResourceGroup/providers/Microsoft.Web/sites/APIStreamingUTHG1WebAPI20230801231828</ResourceId>
    <ResourceGroup>APIStreamingUTHG1DataAccess20230801222911ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/340fbf74-1950-428c-a1f4-6af54b7af953/resourceGroups/APIStreamingUTHG1DataAccess20230801222911ResourceGroup/providers/Microsoft.ApiManagement/service/APIStreamingUTHG1WebAPIapi/apis/APIStreamingUTHG1WebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apistreaminguthg1webapi20230801231828.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a73b24e9-3c69-4db2-ab75-829bff1a795e</ProjectGuid>
    <MSDeployServiceURL>apistreaminguthg1webapi20230801231828.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APIStreamingUTHG1WebAPI20230801231828</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$APIStreamingUTHG1WebAPI20230801231828</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>